<div style="font-size:10pt;"><b>テンプレートの選択</b> <input type="button" onclick="so.modal.close()" value="キャンセル"><br>
<a href="javascript:void(0)" class="submenulink" onclick="setTemplate('mono-black.html')">モノクロ(黒)</a>
<a href="javascript:void(0)" class="submenulink" onclick="setTemplate('mono-white.html')">モノクロ(白)</a>
<a href="javascript:void(0)" class="submenulink" onclick="setTemplate('mono-gray.html')">モノクロ(グレー)</a>
<a href="javascript:void(0)" class="submenulink" onclick="setTemplate('mono-menu-body-black.html')">メニュー付きページ(黒)</a>
<a href="javascript:void(0)" class="submenulink" onclick="setTemplate('mono-menu-body-white.html')">メニュー付きページ(白)</a>
<a href="javascript:void(0)" class="submenulink" onclick="setTemplate('mono-menu-body-gray.html')">メニュー付きページ(グレー)</a>