<html>
  <head>
    <title>Sample</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <style>
      body{
        background:#fff;
        color:#000;
      }
      a{
        color:#000;
      }
	  #menu{
	  position:absolute;
	  top:0px;
	  left:0px;
	  width:200px;
	  height:500px;
	  background:#cdcdcd;
	  border-right:#000 1px solid;
	  border-bottom:#000 1px solid;
	  overflow:auto;
	  }
	  #main{
	  position:absolute;
	  left:205px;
	  overflow:auto;
	  }
    </style>
  </head>
  <body>
    <div id="menu"><a href="#">Sample1</a><br><a href="#">Sample2</a></div>
	<div id="main">This is a sample.<br>This is a theme "mono menu body white".</div>
  </body>
</html>